body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	/* background-color: #f2f2f2; */
	background-color: #fae7d6;
	direction: rtl;
}

h1 {
	text-align: center;
	margin-top: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.item {
	background-color: white;
	border: 1px solid #ccc;
	width: 100%;
	padding: 0 0 25px;
	margin: 30px auto;
	max-width: 600px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	text-align: center;
	border-radius: 0.5em;
}

.item img {
	width: 100%;
	max-height: 350px;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
  }
  

h2 {
	margin-top: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

p {
	padding-right: 2rem;
	margin-bottom: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
	text-align: right;
	font-size: 20px;
}

button {
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.accept {
	background-color: #4CAF50;
	color: #fff;
	margin-right: 10px;
}

.reject {
	background-color: #f44336;
	color: #fff;
}

.img-responsive {
	max-width: 100%;
  }
  

.formAccept{
	display: inline-block;
} 

.formReject{
	display: inline-block; margin-left: 10px;
}  

.grid-containerAdmin {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 20px;
	grid-column-gap: 0.5fr; 
	justify-items: center;
  }
  

.buttonRA {
	--border: 5px;    /* the border width */
	--slant: 0.7em;   /* control the slanted corners */
	--color: #048f39; /* the color */
	
	font-size: 20px;
	/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif; */
	padding: 0.3em 0.8em;
	border: 3px var(--color) solid;
	border-radius: 0.5em;
	cursor: pointer;
	font-weight: bold;
	color: var(--color);
	background: 
	   linear-gradient(to right,var(--color)  100%,#0000 100%);
	background-size: calc(0%) calc(100%);
	background-repeat: no-repeat;
	transition: color var(--t,0.3s), background-size 0.3s;
  }
  .buttonRA:focus-visible {
	outline-offset: calc(-1*var(--border));
	outline: var(--border) solid #001829;
	clip-path: none;
	background-size: 0 0;
  }
  .buttonRA:hover,
  .buttonRA:active{
	background-size: 100% 100%;
	color: #fff;
	--t: 0.2s 0.1s;
  }
  .buttonRA:active {
	--s: #0005;
	transition: none;
  }



.custom-select {
  position: relative;
  display: block;
  max-width: 400px;
  min-width: 180px;
  margin: 20px auto;
  border: 2px solid #001829;
  border-radius: .5em;
  background-color: #2e8b57;
  z-index: 10;
}
.options {
	background-color: #2e8b57;
	color: white;
}
.options:hover {
	background: #001829; 
}
.custom-select select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: center;
  cursor: pointer;
}
.custom-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 250%;
  content: "∨";
  text-align: center;
  color: white;
  font-size: 24px;
  border-left: 1px solid white;
  z-index: -1;
  cursor: pointer;
}


.buttonBack {
	border: 1px solid white;
	background-color: #2e8b57;
	width: 130px;
	padding: 15px;
	border-radius: 3px;
	color: white;
	transition: background 0.5s ease;
	cursor: pointer;
	border-radius: 10px;
	margin-right: 10px;
  }
  
  .buttonBack:hover {
	background: #001829;
	color: white;
	font-weight: normal;
  }
  
  .buttonBack:hover i {
	color: white;
  }

  .arrow1 {
	animation: slide1 1s ease-in-out infinite;
	font-size: 1.2em;
	margin-right: 5px;
  }

  .textboMalua{
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
	margin-left: 5px;
  }
  @keyframes slide1 {
	0%,
	100% {
	  transform: translate(0, 0);
	}
  
	50% {
	  transform: translate(10px, 0);
	}
  } 
