@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}
.navList{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(50%, -50%);
  background: #1b1b1b;
  width: 400px;
  line-height: 40px;
  padding: 8px 25px;
  border-radius: 5px;
}
.navList .labelDrop{
  color: white;
  font-size: 22px;
  font-weight: 500;
  display: block;
  cursor: pointer;
}
.buttonNavList .spanNavList{
  float: right;
  line-height: 40px;
  transition: 0.5s;
}
.buttonNavList .spanNavList.rotate{
  transform: rotate(-180deg);
}
.navList ul{
  position: absolute;
  background: #1b1b1b;
  list-style: none;
  top: 75px;
  left: 0;
  width: 100%;
  border-radius: 5px;
  display: block;
}

[id^=btn]:checked + ul{
  display: none;
}
.navList .menu:before{
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  background: #1b1b1b;
  right: 20px;
  top: -10px;
  transform: rotate(45deg);
  z-index: -1;
}
.navList ul li{
  line-height: 40px;
  padding: 8px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.navList ul li .labelDrop{
  font-size: 18px;
}
.navList ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
}
.navList ul li a:hover,
.navList ul li .labelDrop:hover{
  color: cyan;
}
.navList ul ul{
  position: static;
}
.navList ul ul li{
  line-height: 30px;
  padding-left: 0px;
  border-bottom: none;
}
.navList ul ul li a{
  color: #e6e6e6;
  font-size: 17px;
}
.navList ul li .spanNavList{
  font-size: 20px;
  float: right;
  margin-top: 10px;
  padding: 0 10px;
  transition: 0.5s;
}
.navList ul li .spanNavList.rotate{
  transform: rotate(-180deg);
}
input{
  display: none;
}

.priceP{
  color: grey;
}

.aStuff{
  text-decoration: none;
}

.stuffName{
  color: black;
}

#main-outer {
	width: 100%;
	height: 100%;
}


/* NAVIGATION END */
.rowStuff {
  display: flex; /* Set the display property to flex */
  float: center;
  width: 100%;
  height: 100%;
}
.rowStuff > div:nth-child(2) {
  display: flex; /* Force item 3 onto a new line */
  justify-content: space-between;
}

.columnNames {
  flex: 1; /* Set the flex property to 1 to make the columns equal width */
  padding-left: 30px;
  padding-top: 10px;
}

.imgSupplies {
    float: left;
    width:  190px;
    height: 190px;
    object-fit: cover;
}

.imgSupplies:hover {
	transform: scale(1.1);
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 0fr);
	gap: 8px;
	padding: 10px;
  }
  
  .grid-item {
	background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
  cursor: pointer;
  line-height: 0.5em;
}
.section {
  display: none;
}

#medicine-cat {
  display: block;
}

.nosuff{
  font-size: 50px;
  margin-left: 100px;
  margin-top: 100px;
  width: 600px;
}




.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 9999;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapperImages {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapperImages{
	margin-top: 0;
	color: #333;
}
.wrapperImages .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapperImages .close:hover {
	color: #0171d3;
}
.wrapperImages .content {
	max-height: 30%;
	overflow: auto;
}


.imgShowAnimals {
    float: center;
    width:  300px;
    height: 300px;
    object-fit: cover;
}

.wrapperShowImage {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width:30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapperShowImage{
	margin-top: 0;
	color: #333;
}
.wrapperShowImage .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapperShowImage .close:hover {
	color: #0171d3;
}
.wrapperShowImage .content {
	max-height: 30%;
	overflow: auto;
}

.cardAddImages {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	padding: 5px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
  }
  
  .cardAddImages {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
  }
  
  
  