@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}


.footer-distributed {
  direction: rtl;
  background:	#001829;
  background-image: url('/myImages/bg-st.svg');
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
  text-align: start;
}



/* Footer links */

.footer-distributed .footer-links {
  color: #fff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links .aFooter {
  display: inline-block;
  line-height: 1.8;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  font-size: 1.1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.number {
  letter-spacing: 0.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.footer-distributed .footer-company-name {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
text-align: start;
}

.footer-distributed .footer-center i {
  background-color: #079103;
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center .pFooter {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  vertical-align: middle;
  margin: 0;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.footer-distributed .footer-center .pFooter .spanFooter {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.footer-distributed .footer-center .phone {
 letter-spacing: 0.3rem;
}

.footer-distributed .footer-center .pFooter .aFooter {
  text-decoration: none;
}

.mail {
  color: wheat;
}
.mail:hover {
  color: peru;
}

.footer-distributed .footer-links .aFooter:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
  text-align: start;
}

.footer-distributed .footer-right .pFooter {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.5rem;
}

.footer-distributed .footer-company-about .spanFooter {
  display: block;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons .aFooter {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #079103;
  border-radius: 0.7rem;

  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}


.circle-img {
  border-radius: 50%;
}

.circle-img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  object-fit: cover;
}
