.navbar {
    padding: auto 2rem;
    background-color: #87CEE7;
    direction: rtl;
}
.nav-left {
    width: fit-content;
}
.nav-item {
    margin: auto 20px;
    text-align: center;
}
.nav-item:hover {
    transition: all 0.2s;
    border-bottom: solid 3px black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-item:last-of-type {
    border: none;
}
.text-style {
    font-weight: bolder;
    color: black;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}
.iLogin{
    font-size: 1.2em;
    margin-left: 7px;
}
.login {
    border: solid 2px black;
    /* border-radius: 30px; */
    border-radius: 1rem;
    transition: all 0.5s ease-out;
}
.login:hover {
    background: black;
    color: white;
}
@media screen and (max-width: 991px) {
    .nav-item {
        margin: auto 0;
        width: 100%;
        text-align: end;
    }
    .nav-left {
        width: 100%;
    }
}
@media screen and (min-width: 992px) {
    .list {
        display: flex;
        justify-content: end;
    }
}