* {
  box-sizing: border-box;
}

.bodyGrideView {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
}

.rowMissing {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.columnMissing {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 40px;
}

/* .columnMissing img {
  margin-top: 8px;
  vertical-align: middle;
} */

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #0171d3;
  color: white;
}

.text {
font-size: 20px;
}

.edit-Delete-button-Missing {
	display: none;
} 

.button-Edit-Missing {
  font-size: 3em;
	padding: 30px 80px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	background: green;
 
}
.button-Delete-Missing {
	font-size: 3em;
	color: #fff;
	cursor: pointer;
	background: red;
	height: 111px;
	width: 250px;
}

/* .column {
  float: left;
  width: 20%;
  padding: 5px;
} */

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.box {
	text-align: center;
}
.button {
	font-size: 1em;
	padding: 15px 35px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #0171d3;
	border-radius: 50px;
}
.button:hover {
	background-color: black;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapper{
	margin-top: 0;
	color: #333;
}
.wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapper .close:hover {
	color: #06D85F;
}
.wrapper .content {
	max-height: 30%;
	overflow: auto;
}

.formADDEdit label {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 2px;
	margin-bottom: 5px;
	resize: vertical;
}
input[type="submit"] {
	background-color: #413b3b;
	color: #fff;
	padding: 15px 50px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 5px;
}

.imgMissing {
    float: left;
    width:  350px;
    height: 350px;
    object-fit: cover;
}

