* {
	box-sizing: border-box;
  }
  
  .bodyGrideView {
	margin: 0;
	background: linear-gradient(180deg, rgba(22,22,22,1) 90vh, rgba(187,187,187,1) 100vh);
	direction: rtl;
  }
  
  .missing-p {
	  color: #fff;
	  text-align: center;
	  font-weight: 500;
	  font-size: 1.7rem;
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  }
  .extra {
	font-weight: 500;
	font-size: 0.9rem;
  }
  .missing-header {
	margin: -1rem;
	text-align: center;
	padding: 32px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  }
  .edit-header {
	margin: -1.5rem;
	text-align: center;
	padding: 32px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  }
  .text {
	  font-size: 20px;
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  }
  .boxrideView {
	  text-align: center;
  }
  .buttonAddMissing {
	  font-size: 1.2em;
	  padding: 15px 35px;
	  color: black;
	  text-decoration: none;
	  cursor: pointer;
	  transition: all 0.3s ease-out;
	  background: azure;
	  border-radius: 1rem;
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  }
  .buttonAddMissing:hover {
	  background-color: black;
	  color: azure;
	  box-shadow: 0px 0px .1rem .3rem rgb(255, 255, 255);
  }
  .overlayMissing {
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: rgba(0, 0, 0, 0.8);
	  transition: opacity 500ms;
	  visibility: hidden;
	  opacity: 0;
	  z-index: 9999;
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  }
  .overlayMissing:target {
	  visibility: visible;
	  opacity: 1;
  }
  .wrapper {
	  margin: 70px auto;
	  padding: 20px;
	  background: #e7e7e7;
	  border-radius: 5px;
	  width: 30%;
	  position: relative;
	  transition: all 5s ease-in-out;
  }
  .missings-card-body {
	text-align: right;
	background-color: #fff;
	border-radius: 10px;
	overflow-y: auto;
	height: 550px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	padding: 5px;
  }

  .wrapper{
	  margin-top: 0;
	  color: #333;
  }
  .wrapper .close {
	  position: absolute;
	  top: 20px;
	  right: 30px;
	  transition: all 200ms;
	  font-size: 30px;
	  font-weight: bold;
	  text-decoration: none;
	  color: #333;
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  }
  .wrapper .close:hover {
	  color: #0171d3;
  }
  .wrapper .content {
	  max-height: 30%;
	  overflow: auto;
  }
  .edit-selector {
	padding: 0.1rem;
  }
  .formADDEdit label {
	  text-transform: uppercase;
	  font-weight: 500;
	  font-size: 1.1rem;
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  }
  .form-control {
	  margin: 0.5rem auto;
	  text-align: right;
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  }
  .state {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
	font-weight: 500;
	font-size: 1rem;
  }
  .missing-reason {
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
	  font-weight: 500;
	  font-size: 1rem;
	  text-align: center;
	  padding: 0.35rem;
  }
  .phone {
	  padding: 0.35rem;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	  resize: vertical;
  }
  .calender {
	  padding: 0.35rem;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	  resize: vertical;
  }
  .stolen_missing_image {
	margin-top: 0.3rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	padding: 0.35rem;
  }
  input[type=text], select, textarea {
	  width: 100%;
	  padding: 8px;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	  resize: vertical;
  }
  input[type="submit"] {
	  font-size: 1.2em;
	  padding: 10px 35px;
	  color: #fff;
	  text-decoration: none;
	  cursor: pointer;
	  transition: all 0.3s ease-out;
	  background-color: #2e8b57;
	  border-radius: 1rem;
	  border: none;
	  text-transform: uppercase;
	  margin-top: 10px;
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  }
  
  input[type="submit"]:hover {
	  background-color: black;
	  color: white;
  }
  
  .imgMissing {
	  float: left;
	  width:  380px;
	  height: 380px;
	  object-fit: cover;
  }
  .con-img {
	display: grid;
	place-items: center;
	width: 100%;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	padding: 5px;
	border-radius: 30px;
  }
  .imgShowMissing {
	width:  100%;
	height: 280px;
	object-fit: cover;
	border-radius: 30px;
  }

  .show-header {
	text-align: center;
	font-size: 1.8rem;
	margin-top: -0.1rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  }
  .show-sp {
	color: #921616;
	text-align: right;
	font-weight: 500;
	font-size: 1.2rem;
  }
  .show-p {
	text-align: right;
	font-weight: 500;
	font-size: 1rem;
  }
  
  .wrapperShowImage {
	  margin: 70px auto;
	  padding: 20px;
	  background: #e7e7e7;
	  border-radius: 5px;
	  width:30%;
	  position: relative;
	  transition: all 5s ease-in-out;
  }
  .wrapperShowImage{
	  margin-top: 0;
	  color: #333;
  }
  .wrapperShowImage .close {
	  position: absolute;
	  top: 20px;
	  right: 30px;
	  transition: all 200ms;
	  font-size: 30px;
	  font-weight: bold;
	  text-decoration: none;
	  color: #333;
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  }
  .wrapperShowImage .close:hover {
	  color: #0171d3;
  }
  .wrapperShowImage .content {
	  max-height: 30%;
	  overflow: auto;
  }
  
	.cardMissing{
	  position: relative;
	  width: 330px;
	  height: 370px;
	  background-color: #fff;
	  margin: 0;
	  margin-top: 3rem;
	  margin-bottom: 3rem;
	  border-radius: 4px;
	  box-shadow:0 2px 10px rgba(0,0,0,.2);
	  animation-duration: 1s;
	  animation-name: slideInUp;
	}
	@media screen and (min-width: 1400px) {
	  .cardMissing {
		  width: 480px;
		  height: 570px;
	  }
	}
  
	@keyframes slideInUp {
	  from {
		transform: translateY(100%);
		opacity: 0;
	  }
	  to {
		transform: translateY(0%);
		opacity: 1;
	  }
	}
	
	.cardMissing:before,
	.cardMissing:after
	{
	  content:"";
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  border-radius: 4px;
	  transition: 0.5s;
	  z-index:-1;
	}
	.cardMissing:hover:before{
	transform: rotate(20deg);
	box-shadow: 0 2px 20px rgba(0,0,0,.2);
	background-color: #fff;
	}
	.cardMissing:hover:after{
	transform: rotate(10deg);
	box-shadow: 0 2px 20px rgba(0,0,0,.2);
	background-color: #001829;
	}
	.cardMissing .imgBx{
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: #222;
	transition: 0.5s;
	z-index: 1;
	}
	
	.cardMissing:hover .imgBx
	{
	  bottom: 80px;
	}
  
	.cardMissing .imgBx img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
  
	.cardMissing .details{
		position: absolute;
		left:10px;
		right: 10px;
		bottom: 3px;
		height: 60px;
		text-align: center;
	}
  
	.cardMissing .details{
	 margin: 0;
	 padding: 0;
	 font-weight: 600;
	 font-size: 20px;
	 text-transform: uppercase;
	 /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif; */
	} 
  
	.cardMissing .details{
	font-weight: 500;
	font-size: 16px;
	display: block;
	margin-top: 5px;
	 } 
	
	.grid-container {
	  /* width: 100%; */
	  display: grid;
	  /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
	  grid-template-columns: repeat(3, 1fr);
	  grid-row-gap: 20px;
	  grid-column-gap: 0.5fr; 
	  justify-items: center;
	  padding-bottom: 5rem;
	  padding-left: 2rem;
	  padding-right: 2rem;
	}
  
	@media (max-width: 768px) { /* Adjust grid layout for screens up to 768 pixels wide */
	  .grid-container {
		  grid-template-columns: repeat(2, 1fr);
		  grid-column-gap: 10px;
	  }
  }
  
  @media (max-width: 480px) { /* Adjust grid layout further for screens up to 480 pixels wide */
	  .grid-container {
		  grid-template-columns: 1fr;
		  grid-column-gap: 0;
	  }
  }
  
  @media (min-width: 1200px) { /* Adjust grid layout for screens wider than 1200 pixels */
	  .grid-container {
		  grid-template-columns: repeat(3, 1fr);
		  grid-column-gap: 1fr;
	  }
  }
  
  .buttonEDS {
	  --border: 5px;    /* the border width */
	  --slant: 0.7em;   /* control the slanted corners */
	  --color: #4362eb; /* the color */
	  
	  font-size: 20px;
	  padding: 0.2em 0.5em;
	  border: none;
	  cursor: pointer;
	  font-weight: bold;
	  border: 3px var(--color) solid;
	  border-radius: 0.5em;
	  color: var(--color);
	  background: 
	   linear-gradient(to right,var(--color)  100%,#0000 100%) left;
	background-size: calc(0%) calc(100%);
	background-repeat: no-repeat;
	transition: color var(--t,0.3s), background-size 0.3s;
	}
	.buttonEDS:focus-visible {
		outline-offset: calc(-1*var(--border));
		outline: var(--border) solid #000c;
		clip-path: none;
		background-size: 0 0;
	}
	.buttonEDS:hover,
	.buttonEDS:active{
		background-size: 100% 100%;
	  color: #fff;
	  --t: 0.2s 0.1s;
	}
	.buttonEDS:active {
		--s: #fff;
		transition: none;
	}
	
	.aButtonsMissing{
		text-decoration: none;
		text-align: center;
		padding: 0.2em 0.7em;
	} 
	
	.formMissing {
		display: inline-block;
	}
	
	.item {
	  width: 130px;
	  height: 50px;
	  margin: 10px;
	  position: relative;
	}
	
	.buttonBack {
		border: 1px solid white;
		background-color: #2e8b57;
		width: 120%;
		padding: 15px;
		border-radius: 1rem;
		color: white;
		transition: background 0.5s ease;
		cursor: pointer;
		border-radius: 10px;
	}
	
	.buttonBack:hover {
		background: black;
		color: white;
		font-weight: normal;
	}
	
	.buttonBack:hover i {
		color: white;
	}
	
	.buttonForm {
		width: 100%;
	}
	
	i {
		color: white;
		margin-right: 25px;
	}
	
	.arrow1 {
		animation: slide1 1s ease-in-out infinite;
		font-size: 1.2em;
	}
	
	.textboMalua{
		font-size: 18px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
	}
	
	.noMissingStolen{
		font-size: 50px;
		font-weight: 500;
		margin: 90px 450px;
		text-align: center;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
	}
	@keyframes slide1 {
	  0%,
	  100% {
		  transform: translate(0, 0);
		}
		
		50% {
			transform: translate(10px, 0);
		}
	}
	.imgMissing{
		float: right;
		width: 100%;
	}
	.image-edit {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.img-thumbnail {
		border-radius: 1rem;
		order: 1;
	}
	.edit-p {
		font-weight: 500;
		margin-right: 1rem;
		order: 2;
	}
	.pic-edit {
		width: 200px;
		order: 3;
	}
	
	@media (min-width: 1600px) { /* Adjust grid layout for screens wider than 1200 pixels */
		.bodyGrideView {
			background: linear-gradient(180deg, rgba(22,22,22,1) 60vh, rgba(187,187,187,1) 70vh);
		}
	}
	