* {
  box-sizing: border-box;
}

.bodyGrideView {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
}

.text {
font-size: 20px;
}

.boxrideView {
	text-align: center;
}
.buttonAddMissing {
	font-size: 1.2em;
	padding: 15px 35px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #0171d3;
	border-radius: 50px;
}
.buttonAddMissing:hover {
	background-color: black;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapper{
	margin-top: 0;
	color: #333;
}
.wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapper .close:hover {
	color: #0171d3;
}
.wrapper .content {
	max-height: 30%;
	overflow: auto;
}

.formADDEdit label {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 2px;
	margin-bottom: 5px;
	resize: vertical;
}
input[type="submit"] {
	font-size: 1.2em;
	padding: 10px 35px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #0171d3;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;
	margin-top: 10px;
}

input[type="submit"]:hover {
	background-color: black;
	color: white;
}

.imgMissing {
    float: left;
    width:  350px;
    height: 350px;
    object-fit: cover;
}

.imgShowMissing {
    float: left;
    width:  350px;
    height: 350px;
    object-fit: cover;
}

.wrapperShowImage {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width:30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapperShowImage{
	margin-top: 0;
	color: #333;
}
.wrapperShowImage .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapperShowImage .close:hover {
	color: #0171d3;
}
.wrapperShowImage .content {
	max-height: 30%;
	overflow: auto;
}

.cardAddImages {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	padding: 5px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
  }
  
  .cardAddImages {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
  }
  
  .card-buttons {
	justify-content: center;
	margin-top: 10px;
	width: 370px;
	display: none;
  }
  
  .grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 10px;
	background-color: #0171d3;
	padding: 10px;
  }
  
  .grid-item {
	background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  cursor: pointer;
}

.buttonDelete {
	  font-size: 0.8em;
	  padding: 5px 10px;
	  color: #fff;
	  text-decoration: none;
	  cursor: pointer;
	  transition: all 0.3s ease-out;
	  background: #0171d3;
	  border: none;
  }
  
  .buttonEdit {
	  font-size: 0.8em;
	  padding: 5px 10px;
	  color: #fff;
	  text-decoration: none;
	  cursor: pointer;
	  transition: all 0.3s ease-out;
	  background: #0171d3;
  }

  .buttonShow {
	font-size: 0.8em;
	  padding: 5px 10px;
	  color: #fff;
	  text-decoration: none;
	  cursor: pointer;
	  transition: all 0.3s ease-out;
	  background: #0171d3;
  }

  .buttonEdit:hover{
	background-color: black;
	color: white;
  }

  .buttonShow:hover{
	background-color: black;
	color: white;
  }

  .buttonDelete:hover{
	background-color: black;
	color: white;
  }

  .formMissing {
	display: inline-block;
  }


  body {
	font-family: "Lato";
  }
  .item {
	width: 130px;
	height: 50px;
	margin: 10px;
	position: relative;
  }
  
  .buttonBack {
	border: 1px solid white;
	background: #0171d3;
	width: 100%;
	padding: 15px;
	border-radius: 3px;
	color: white;
	transition: background 0.5s ease;
	cursor: pointer;
	border-radius: 10px;
  }
  
  .buttonBack:hover {
	background: black;
	color: white;
	font-weight: normal;
  }
  
  .buttonBack:hover i {
	color: white;
  }
  
  i {
	color: white;
	margin-right: 25px;
  }
  
  .arrow1 {
	animation: slide1 1s ease-in-out infinite;
	font-size: 1.2em;
  }

  .textboMalua{
	font-size: 18px;
  }
  
  .noMissingStolen{
    font-size: 50px;
    margin: 90px 450px;
    width: 600px;
  }
  @keyframes slide1 {
	0%,
	100% {
	  transform: translate(0, 0);
	}
  
	50% {
	  transform: translate(10px, 0);
	}
  }