* {
	box-sizing: border-box;
}
body {
	/* line-height: 1.6;  */
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.aNav {
	color: #34495e;
}
.aNav {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo .aNav,
.main-nav .aNav {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav .aNav {
	color: #34495e;
	font-size: 1.499em;
}

.main-nav .aNav:hover {
	color: #718daa;
}
.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.dropdown {
	float: left;
	overflow: hidden;
  }
  
  .dropdown .dropbtn {
	border: none;
	outline: none;
	color: #34495e;
	font-size: 1.299em;
	padding: 14px 16px;
	/* background-color: inherit; */
	background-color: #f4f4f4;
	font-family: inherit;
	margin: 0;
  }
  
 .dropdown:hover .dropbtn {
	color: #718daa;
	cursor: pointer;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }

  .dropdown-content :hover {
	background-color: #34495e;
	color: #ddd;

  }
  .dropdown:hover .dropdown-content {
	display: block;
  }		

.aNavContent {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	text-decoration: none;
	color: #34495e;
	font-size: 1.499em;
}

.circular-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
  }