.navbar {
    padding: auto 2rem;
    /* background-color: bisque; */
    background-color: rgb(176, 206, 226);
}
.nav-left {
    width: fit-content;
}
.nav-item {
    margin: auto 20px;
    text-align: center;
}
.text-style {
    font-weight: bolder;
    color: black;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}
.iLogin{
    font-size: 1.2em;
    margin-right: 7px
}
@media screen and (max-width: 991px) {
    .navbar {
        padding: auto 1rem;
    }
    .nav-item {
        margin: auto 0;
        width: 100%;
        text-align: end;
     }
      .nav-left {
        width: 100%;
      }
}
@media screen and (min-width: 992px) {
    .list {
        display: flex;
        justify-content: end;
    }
}