* {
  box-sizing: border-box;
}

/* body {
	font-family: 'Montserrat', sans-serif;
	background: #e7e7e7;
	height: 100vh;
} */
.boxImages {
	text-align: center;
}
.buttonAddImages {
	font-size: 1.2em;
	padding: 15px 35px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #0171d3;
	border-radius: 50px;
}
.buttonAddImages:hover {
	background-color: black;
	color: white;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 9999;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapperImages {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapperImages{
	margin-top: 0;
	color: #333;
}
.wrapperImages .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapperImages .close:hover {
	color: #0171d3;
}
.wrapperImages .content {
	max-height: 30%;
	overflow: auto;
}

.formADDEdit .label {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}
/* input[type=text], .select, .textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
} */
input[type="submit"] {
	font-size: 1.2em;
	padding: 10px 35px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #0171d3;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;
}

input[type="submit"]:hover {
	background-color: black;
	color: white;
}

.imgAnimals {
    float: left;
    width:  190px;
    height: 190px;
    object-fit: cover;
}

.imgShowAnimals {
    float: center;
    width:  300px;
    height: 300px;
    object-fit: cover;
}

.wrapperShowImage {
	margin: 70px auto;
	padding: 20px;
	background: #e7e7e7;
	border-radius: 5px;
	width:30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.wrapperShowImage{
	margin-top: 0;
	color: #333;
}
.wrapperShowImage .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.wrapperShowImage .close:hover {
	color: #0171d3;
}
.wrapperShowImage .content {
	max-height: 30%;
	overflow: auto;
}

.cardAddImages {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	padding: 5px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
  }
  
  .cardAddImages {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
  }
  
  
  .card-buttons {
	justify-content: center;
	margin-top: 10px;
	width: 220px;
	display: none;
  }

  .grid-container {
	display: grid;
	grid-template-columns: repeat(6, 0fr);
	gap: 8px;
	padding: 10px;
  }
  
  .grid-item {
	background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
  cursor: pointer;
}

 .buttonShow {
	font-size: 0.5em;
	  padding: 5px 10px;
	  color: #fff;
	  text-decoration: none;
	  cursor: pointer;
	  transition: all 0.3s ease-out;
	  background: #0171d3;
  }

    
  .buttonDelete {
	font-size: 0.5em;
	padding: 5px 10px;
	  color: #fff;
	  text-decoration: none;
	  cursor: pointer;
	  transition: all 0.3s ease-out;
	  background: #0171d3;
	  border: none;
  }
  
  .buttonEdit {
	  font-size: 0.5em;
	  padding: 5px 10px;
	  color: #fff;
	  text-decoration: none;
	  cursor: pointer;
	  transition: all 0.3s ease-out;
	  background: #0171d3;
  }

  .buttonEdit:hover{
	background-color: black;
	color: white;
  }

  .buttonShow:hover{
	background-color: black;
	color: white;
  }

  .buttonDelete:hover{
	background-color: black;
	color: white;
  }

  .formAnimal {
	display: inline-block;
  }

  .noAnimals{
    font-size: 50px;
    margin: 90px 500px;
    width: 600px;
  }