* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.rowAdvice {
  display: flex;
  flex-wrap: wrap;
}
.rowAdvice h2 {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 2.5em;
  margin: 1.0em 0;
  font-weight: 600;
  color: #070024;
}
.columnAdvice {
  padding: 1em;
}
.cardAdvice {
  padding: 2.6em 1.20em;
  text-align: center;
  background: linear-gradient(0deg, #397ef6 10px, transparent 10px);
  background-repeat: no-repeat;
  background-position: 0 0.62em;
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  transition: 0.5s;
  cursor: pointer;
}
.cardAdvice .icon {
  font-size: 2.5em;
  height: 2em;
  width: 2em;
  margin: auto;
  background-color: #397ef6;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #ffffff;
}
.icon:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  border: 0.12em solid #397ef6;
  border-radius: 50%;
  transition: 0.5s;
}
.cardAdvice h3 {
  font-size: 1.3em;
  margin: 1em 0 1.4em 0;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: #070024;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}
.cardAdvice p {
  line-height: 2em;
  font-size: 1.3em;
  color: #454349;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}
.cardAdvice:hover {
  background-position: 0;
  cursor: context-menu;
}
.cardAdvice:hover .icon:before {
  height: 2.25em;
  width: 2.25em;
}
@media screen and (min-width: 768px) {
  .sectionAdvice {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  .sectionAdvice {
    padding: 1em;
  }
  .cardAdvice {
    padding: 5em 2em;
  }
  .columnAdvice {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}
