.animal-cases, .box, .size {
  width: 100%;
  height: 100vh;
}
.description {
  position: absolute;
  font-size: 4vh;
  top: 20%;
  width: 80%;
  text-align: center;
}
.see-more {
  display: grid;
  place-items: center;
  position: absolute;
  top: 60%;
  font-size: 1.5rem;
  width: 8rem;
  height: 4rem;
  border-radius: 1rem;
  border: none;
  background-color: #0171d3;
}

.see-more:hover {
	background-color: black;
	color: white;
}
.box {
  position: relative;
}
.box .description, .see-more {
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box .description {
  border-radius: 1rem;
  color: #fff;
  height: 14vh;
  background-color: rgba(0,0,0,0.4);
}
@media (max-width: 387px) {
  .box .description {
    height: 26vh;
  }
}
@media (max-width: 300px) {
  .box .description {
    height: 32vh;
  }
}
@media (min-width: 1000px) {
  .box .description {
    width: fit-content;
    padding: 4rem;
  }
}