.animal-cases, .box, .size {
  width: 100%;
  height: 80vh;
}
.description {
  position: absolute;
  font-size: 26px;
  top: 20%;
  width: 30rem;
}
.see-more {
  position: absolute;
  top: 60%;
  font-size: 20px;
  width: 7rem;
  height: 3rem;
  border-radius: 1rem;
}
.box {
  position: relative;
}
.box .description, .see-more {
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box .description {
  border-radius: 1rem;
  color: #fff;
  height: 10rem;
  background-color: rgba(0,0,0,0.4);
}