.products-header {
  font-size: 2.5em;
  margin: 0 auto;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
  width: 10rem;
  height: 3rem;
  border-radius: 50%;
  color: #000;
  z-index: 2;
}

.products .products-item {
  padding: 0;
  margin: auto 5px;
  background-color: #fff;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.products-item:hover {
	transform: scale(1.1);
  z-index: 1;
}
.products-image {
  padding: 0;
  margin: 0;
}

.parent {
  position: relative;
}
/* Waves */ 
.spacer {
  position: absolute;
  aspect-ratio: 900/30;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.top {
  top: 0;
  left: 0;
}
.bottom {
  bottom: 0;
  left: 0;
}
.layer {
  background-image: url('/myImages/top.svg');
  height: 7rem;
  z-index: -1;
}
.layer2 {
  background-image: url('/myImages/bottom.svg');
  height: 7rem;
  z-index: 0;
}