.bodyHome{
  background-color: #e9e9e9;
}

.carousel-item,.carousel-inner {
    height: 32rem;
}
.carousel-indicators, .carousel-item .image-header, .pSlides {
  margin: 1rem auto;
  padding: 0.5vh;
  width: fit-content;
  border-radius: 0.3rem;
  color: #000;
  background-color: rgba(255,255,255,0.6);
  font-size: 2.2vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
}
.carousel-item .image-header {
  font-size: 2.5vh;
}
.carousel-item .pSlides {
  text-align: center;
  font-weight: 500;
}
.carousel-indicators.carousel-indicators .bg {
  background-color: #000;
}
.carousel .carousel-control-prev, .carousel-control-next {
  margin: auto 1rem;
  width: 3rem;
  height: 3rem;
  opacity: 0.2;
  background-color: #000;
  border-radius: 100%;
}
.carousel .carousel-control-prev:hover, .carousel-control-next:hover {
  opacity: 0.5;
}
.carousel .carousel-control-prev:focus, .carousel-control-next:focus {
  opacity: 0.5;
}
@media only screen and (min-width: 720px) {
  .carousel-inner {
    height: 46rem;
    display: grid;
  }
  .carousel-item {
    height: 46rem;
    margin: 0 auto;
  }
  .carousel .carousel-control-prev, .carousel-control-next {
    margin: auto 2rem;
  }
}